html
{
    background-color: #000000;
}
pfp
{
    text-align: center;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header
{
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 50px 80px;
    background-color: #ffffff;
    margin-bottom: 25px;
}
